<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InsuranceMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F6C4FF41C5C9A870045B8F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6C50081C5C9A870045B8F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F6C50131C5C9A870045B8F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
